@import 'normalize';
@import 'variables';

body {
	color: var(--text-white);
	background-color: var(--bg);
	height: 100vh;
	font-size: var(--text-main);
	font-style: normal;
	font-weight: var(--w-regular);
	line-height: normal;
}

.loaderInner {
	display: flex;
	justify-content: center;
	margin: 80px 0;
}

.loader {
	width: 55px;
	height: 55px;
	@media (max-width: 768px) {
		width: 30px;
		height: 30px;
	}
}
