:root {
	--bg: #242222;

	--black: black;
	--white: white;
	--orange: #ee7421;

	--text-white: #ecf1f4;
	--text-black: #101010;
	--text-gray: #b3b3b3;
	--text-gray-m: #e5e5e5;

	--color-gray: #4c4c4c;

	//sizes
	--text-small: 8px;
	--text-xs: 12px;
	--text-main: 14px;
	--text-base: 16px;
	--text-lg: 18px;
	--text-2xl: 24px;
	--text-3xl: 32px;
	--text-4xl: 40px;

	--w-extra-light: 200;
	--w-light: 300;
	--w-regular: 400;
	--w-medium: 500;
	--w-bold: 700;
}
