.Header,
.nav,
.menu {
	display: flex;
}

.Header {
	max-width: 1460px;
	padding: 20px;
	margin: 0 auto;
	align-items: center;
	justify-content: space-between;
	@media (max-width: 978px) {
		font-size: var(--text-xs);
	}
}

.logo {
	width: 50px;
	height: 50px;
	background-color: transparent;
	@media (max-width: 978px) {
		width: 40px;
		height: 40px;
	}
}

.nav,
.menu {
	gap: 30px;
	@media (max-width: 978px) {
		gap: 20px;
	}
}

.nav {
	@media (max-width: 768px) {
		display: none;
	}
}

.navItem {
	cursor: pointer;
	&:hover {
		color: var(--orange);
	}
}

.navIcon {
	width: 20px;
	height: 20px;
	@media (max-width: 978px) {
		width: 18px;
		height: 18px;
	}
}

.menuBtn {
	cursor: pointer;
	margin-left: 20px;
}
