.Modal {
	position: fixed;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	opacity: 0;
	z-index: 2;
}

.linkModal {
	border-radius: 10px;
	color: var(--text-gray-m);
	border: 1px solid var(--color-gray);
	background-color: var(--text-black);
}
