.modal {
	position: fixed;
	top: 70px;
	transform: translateX(-50%);
	z-index: 20;
}

.thirty {
	left: 30%;
	@media (max-width: 978px) {
		left: 35%;
	}
}

.fifty {
	left: 50%;
}
.accessories {
	left: 50%;
}

.thirtyFive {
	left: 35%;
}

.inner {
	position: relative;
	display: flex;
	gap: 40px;
	padding: 40px 100px 40px 40px;
}

.pad {
	padding-bottom: 140px;
}

.items {
	display: flex;
	flex-direction: column;
	gap: 24px;
}

.link {
	&:hover {
		color: var(--orange);
	}
}

.image {
	position: absolute;
	bottom: 0;
	right: 0;
	z-index: -1;
}

.bottomCImage {
	left: 50%;
	transform: translateX(-50%);
}

.rightCImage {
	top: 50%;
	transform: translateY(-50%);
}
