.inner {
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	font-size: var(--text-3xl);
}

.link {
	text-decoration: underline;
	margin-bottom: 20px;
	&:hover {
		opacity: 0.7;
	}
}

.btn {
	border-radius: 10px;
	padding: 5px 10px;
	font-size: var(--text-base);
	text-transform: uppercase;
	color: var(--text-white);
	background-color: var(--orange);
}
