.HeaderMenu {
	position: fixed;
	top: 0;
	right: 0;
	width: 448px;
	height: 100vh;
	opacity: 0;
	transform: translateY(-10000%);
	transition:
		opacity 2.3s ease,
		transform 2.3s ease-in-out;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 24px;
	padding: 20px;
	background-color: var(--white);
	color: var(--text-black);
	@media (max-width: 968px) {
		width: 350px;
	}
	@media (max-width: 560px) {
		width: 100%;
	}
}

.menuOpen {
	opacity: 1;
	transform: translateY(0);
}

.title {
	color: var(--black);
	font-size: var(--text-4xl);
	text-transform: uppercase;
	margin-bottom: 24px;
	@media (max-width: 968px) {
		font-size: var(--text-3xl);
		margin-bottom: 10px;
	}
}

.close {
	width: 20px;
	height: 20px;
	align-self: flex-end;
	cursor: pointer;
	color: var(--text-gray);
	&:hover {
		color: #101010;
	}
}

.link {
	&:hover {
		opacity: 0.7;
	}
}
