.notFound {
	height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 25px;
}

.title {
	font-size: var(--text-3xl);
}

.btn {
	border-radius: 10px;
	padding: 5px 10px;
	font-size: var(--text-base);
	text-transform: uppercase;
	color: var(--text-white);
	background-color: var(--orange);
}
